<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../static/logo3new.jpg">
        <title>About Us</title>
        <link rel="stylesheet" href="../static/styleaboutus.css">
    </head>
<body style="background-color: whitesmoke; ">
    <div class="head">
         <nav>
            <img src="../static/headlogo.png">
            <h1 class="on">DECCAN ENCLAVE</h1>
            <a class="gin" href="{{url_for('login')}}">Login</a>
            <a class="loc" href="https://www.google.com/maps/place/Deccan+Enclave/@12.9945949,80.25795,17z/data=!3m1!4b1!4m6!3m5!1s0x3a52678a0775b575:0xfb35b67e852d8fa6!8m2!3d12.9945897!4d80.2605249!16s%2Fg%2F11kbl4fxbf?entry=ttu">Location</a>
        </nav>
    </div>
    <hr>
    <h1 class="abou">ABOUT US</h1>
    <div class="row">
        <div class="column">
            <img class="appartimg" src="../static/aboutusimg.png">
        </div>
        <div class="column">
            <h2>Deccan Enclave embodies the essence of modern living, offering a harmonious blend of comfort, convenience, and community. Nestled in the heart of a vibrant neighborhood, our apartment stands as a testament to modern urban living. With meticulously designed spaces, we strive to create an environment where residents feel not just at home, but truly connected to their surroundings. From two and three bedroom units to spacious family-friendly layouts, our diverse range of apartments caters to every lifestyle. Our commitment to excellence extends beyond just providing living spaces; we foster a sense of belonging through engaging community events and dedicated management services. At Deccan Enclave, we aspire to be more than just a place to live . we hope memories are made, friendships are forged, and dreams are nurtured. Welcome to a place where life blossoms , Welcome to Deccan Enclave.
            </h2>
        </div>
    </div>
    <hr>
    
</body>
</html>
