<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="logo3new.jpg">
        <link rel="stylesheet" href="styleblock1.css">
        <title>Check</title>
    </head>
    <body style="background-image: url(news3.jpg); ">
        <div class="header">
            <nav>

                <img src="headlogo.png">
                <h1 class="one">DECCAN ENCLAVE</h1>
                <a class="pre" href="maintainance.html">Previous Page</a>
            </nav>
        </div>
        <hr>
        <div class="mid">
            <form>
                <table>
                    <tr>
                        <td>BLOCK</td><td>HOUSE</td><td>BHK</td><td>OCCUPANCY</td><td>OCCUPANT</td><td>PHONE NUMBER</td><td>MAINTAINANCE STATUS</td>
                    </tr>
                    <tr>
                        <td>1</td><td>1</td><td>2</td><td><select><option>OCCUPIED</option><option>VACANT</option></select></td><td><input type="text" value=""></td><td><input type="number" value=""></td><td><select><option>YES</option><option>NO</option></select></td>
                    </tr>
                    <tr>
                        <td>1</td><td>2</td><td>2</td><td><select><option>OCCUPIED</option><option>VACANT</option></select></td><td><input type="text" value=""></td><td><input type="number" value=""></td><td><select><option>YES</option><option>NO</option></select></td>
                    </tr>
                    <tr>
                        <td>1</td><td>3</td><td>2</td><td><select><option>OCCUPIED</option><option>VACANT</option></select></td><td><input type="text" value=""></td><td><input type="number" value=""></td><td><select><option>YES</option><option>NO</option></select></td>
                    </tr>
                    <tr>
                        <td>1</td><td>4</td><td>3</td><td><select><option>OCCUPIED</option><option>VACANT</option></select></td><td><input type="text" value=""></td><td><input type="number" value=""></td><td><select><option>YES</option><option>NO</option></select></td>
                    </tr>
                    <tr>
                        <td>1</td><td>5</td><td>3</td><td><select><option>OCCUPIED</option><option>VACANT</option></select></td><td><input type="text" value=""></td><td><input type="number" value=""></td><td><select><option>YES</option><option>NO</option></select></td>
                    </tr>
                    <tr>
                        <td>2</td><td>1</td><td>2</td><td><select><option>OCCUPIED</option><option>VACANT</option></select></td><td><input type="text" value=""></td><td><input type="number" value=""></td><td><select><option>YES</option><option>NO</option></select></td>
                    </tr>
                    <tr>
                        <td>2</td><td>2</td><td>2</td><td><select><option>OCCUPIED</option><option>VACANT</option></select></td><td><input type="text" value=""></td><td><input type="number" value=""></td><td><select><option>YES</option><option>NO</option></select></td>
                    </tr>
                    <tr>
                        <td>2</td><td>3</td><td>2</td><td><select><option>OCCUPIED</option><option>VACANT</option></select></td><td><input type="text" value=""></td><td><input type="number" value=""></td><td><select><option>YES</option><option>NO</option></select></td>
                    </tr>
                    <tr>
                        <td>2</td><td>4</td><td>3</td><td><select><option>OCCUPIED</option><option>VACANT</option></select></td><td><input type="text" value=""></td><td><input type="number" value=""></td><td><select><option>YES</option><option>NO</option></select></td>
                    </tr>
                    <tr>
                        <td>2</td><td>5</td><td>3</td><td><select><option>OCCUPIED</option><option>VACANT</option></select></td><td><input type="text" value=""></td><td><input type="number" value=""></td><td><select><option>YES</option><option>NO</option></select></td>
                    </tr>

                </table>
            </form>
        </div>