<html>
    <head>
        <title>Queries</title>
        <link rel="icon" href="logo3new.jpg">
        <link rel="stylesheet" href="stylequery.css">
    </head>
    <body style="background-color: rgb(199, 223, 244);">
        <div class="one">
            <nav>
                <img src="headlogo.png">
                <h1 class="header">DECCAN ENCLAVE</h1>                
            </nav>
        </div>
        <hr>
        <iframe src="https://copilotstudio.microsoft.com/environments/Default-7fc0cae6-15fd-4c49-9233-a1ab3f067b1a/bots/cr60b_copilot2/webchat?__version__=2" frameborder="0" style="width: 36%; height: 85%; margin-left: 30%; "></iframe>
    </body>
</html>

